<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet"> 

    <title>Hello, world!</title>
    <link rel="stylesheet" href="../css/uix.css">
  </head>
  <body>
    
     <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="../img/logo/logo-navbar-home-devs.png" alt="" />Home
          Devs.</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item text-center">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#">Portofolio</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link btn btn-warning text-white" href="#"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron background-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-text">
                        <h3 class="title-hero">UI/UX Design</h3>

                        <p class="text-hero">Are you confused about your website/application system? if you subscribe with us, your work will be quickly completed by the <span class="text-homdev">HOME DEVELOPER</span> team.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container about">
        <div class="row">
            <div class="col-md-6">
                <div class="img-about">
                    <img src="../img/banner/Group 52.png" class="img-fluid" width="433" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-inAbout mt-5">
                    <h3 class="title-about">Our <span class="span-text">UI/UX Design</span> Services</h3>
                    <p class="text-about">Buat kamu yang sudah punya starup tapi pusing bikin sistem, <span class="span-kami-solusi">kami adalah solusi</span> untuk membantu anda mendirikan starup dengan desain dan sistem kami yang mudah untuk di mengerti oleh user/developer.</p>

                    <a href="" class="btn btn-danger btn-whtsup mt-5"><img src="../img/icon/Group 3.svg" class="img-fluid" alt=""> &nbsp;<span>WhatsApp Us</span></a>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container category">
        <div class="col-md-12 text-center mb-5">
            <h5 class="">Development <span class="span-text">Gear</span></h5>
        </div>
        <div class="row offset-1">
            <div class="col-md-3">
                <div class="box">
                    <img src="../img/icon/pngegg (6).svg" class="img-fluid img-category" width="100" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="../img/logo/pngegg (7) 1.png" class="img-fluid img-category" width="100" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                       <img src="../img/logo/pngegg (5).png" class="img-fluid img-category" width="100" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="../img/logo/pngegg (4).png" class="img-fluid img-category" width="100" alt="">
                </div>
            </div>
        </div>
    </div> -->

    <div class="container ourDesign">
      <div class="col-md-12 text-center mb-5">
        <h5>Our <span class="span-text">Design Advantages</span></h5>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center card-ourDesign">
            <div class="img-in-card">
              <img src="../img/icon/Group 54.png" class="img-fluid card-img-top img-card" alt="...">
            </div>
            <div class="card-body">
                  <h5 class="title-card-ourDesign">Design Friendly</h5>
                  <p class="text-card-ourDesign mt-4">Our design will really make your users feel comfortable in your application/website, because the colors and the system are easy to use</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center card-ourDesign">
            <div class="img-in-card">
              <img src="../img/icon/Group 56.png" class="img-fluid card-img-top img-card" alt="...">
            </div>
            <div class="card-body">
                  <h5 class="title-card-ourDesign">Easy To Understand</h5>
                  <p class="text-card-ourDesign mt-4">in addition to our friendly design, we also make it easier for your users, so that it is easy to consult your admin so that it is easy to establish cooperation between you and the user.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center card-ourDesign">
            <div class="img-in-card">
              <img src="../img/icon/Group 92.png" class="img-fluid card-img-top img-card" alt="...">
            </div>
            <div class="card-body">
                  <h5 class="title-card-ourDesign">Reliabel</h5>
                  <p class="text-card-ourDesign mt-4">why are our designs reliable? Our design works can attract many users, because our designs are friendly and easy to understand.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-md-12 text-center">
        <h2 class="title-how">How Does It <span class="span-text">Work ?</span></h2>
      </div>
      <div class="row offset-1">
        <div class="col-md-6 side-right">
          <h2 class="title-how fw-bold">1.<span class="span-text">Discuss</span></h2>
          <p class="text-how">We discuss with you what design and system you want to use for your website/application, we are here to help about what design and color will be determined to make your Website/Application.</p>
        </div>
        <div class="col-md-6 side-left">
          <div class="img-left-box">
            <img src="../img/how work/Ellipse 42.png" alt="">
          </div>
        </div>
      </div>
      <div class="row offset-1">
        <div class="col-md-6 side-reverse-right">
          <div class="img-right-box">
            <img src="../img/how work/Ellipse 43.png" alt="">
          </div>
        </div>
        <div class="col-md-6 side-reverse-left">
          <h2 class="title-how fw-bold">2.<span class="span-text">Designing</span></h2>
          <p class="text-how">After getting the results from the discussion we will design a system for your Website / Application so that it is easy for users to use.</p>
        </div>
      </div>
      <div class="row offset-1">
        <div class="col-md-6 side-right">
          <h2 class="title-how fw-bold">3.<span class="span-text">Establish UI & Prototype</span></h2>
          <p class="text-how">After the system has been designed, our designer team will create the appearance of your website/application, with the design you want. With a very friendly design, easy to understand and reliable.</p>
        </div>
        <div class="col-md-6 side-left">
          <div class="img-left-box">
            <img src="../img/how work/Ellipse 42.png" alt="">
          </div>
        </div>
      </div>
            <div class="row offset-1">
        <div class="col-md-6 side-reverse-right">
          <div class="img-right-box">
            <img src="../img/how work/Ellipse 43.png" alt="">
          </div>
        </div>
        <div class="col-md-6 side-reverse-left">
          <h2 class="title-how fw-bold">4.<span class="span-text">Development</span></h2>
          <p class="text-how">The next process after you approve the design is the Coding process, which is the creation of your own application. In this process our team will create a per-module work time-line for your application. Our team will also provide reports according to your needs both daily, weekly and monthly to you.</p>
        </div>
      </div>
      <div class="row offset-1">
        <div class="col-md-6 side-right">
          <h2 class="title-how fw-bold">5.<span class="span-text">Launching</span></h2>
          <p class="text-how">After everything is finished and you agree with the results of our design, then our team will then load a mockup of the design results, so you can quickly market your product.</p>
        </div>
        <div class="col-md-6 side-left">
          <div class="img-left-box">
            <img src="../img/how work/Ellipse 42.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container portofolio">
      <div class="col-md-12 mb-5 text-center">
        <h4 class="fw-bold">The Results Of Our <span class="span-text">Work/Project?</span></h4>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="../img/portofolio/uix-nyurug.png" alt="" class="img-fluid img-portofolio">
          <h6 class="title-portofolio">Web Design Nyurug</h6>
        </div>
        <div class="col-md-4">
          <img src="../img/portofolio/uix-silih.png" alt="" class="img-fluid img-portofolio">
          <h6 class="title-portofolio">Web Design Marketplace</h6>
        </div>
        <div class="col-md-4">
          <img src="../img/portofolio/uix-staycation.png" alt="" class="img-fluid img-portofolio">
          <h6 class="title-portofolio">Web Design Staycation</h6>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="../img/portofolio/uix-kopiku.png" class="img-fluid img-portofolio" alt="">
          <h6 class="title-portofolio">Web Design Kopiku</h6>
        </div>
        <div class="col-md-4">
          <img src="../img/portofolio/uix-indocoffee.png" class="img-fluid img-portofolio" alt="">
          <h6 class="title-portofolio">Web Design Indo Coffe</h6>
        </div>
        <div class="col-md-4">
          <img src="../img/portofolio/uix-sushiresto.png" class="img-fluid img-portofolio" alt="">
          <h6 class="title-portofolio">Web Design Sushi Resto</h6>
        </div>
      </div>
    </div>

    <div class="container contact text-center">
      <div class="content-contact text-center">
        <div class="card card-contact">
          <div class="card-body">
            <h4 class="title-card-contact">Confused where to <span class="span-text-start">start?</span></h4>
            <h6 class="text-contact mt-3">just consult us via our whatsapp by clicking the button below</h6>

            <a href="" class="btn btn-whtsup2 mt-2"><img src="../img/icon/Group 3.svg" class="img-fluid" width="25" alt=""> &nbsp;<span class="contact-us">Contact Us</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 text-center">
      <div class="col-md-12">
        <h4 class="fw-bold">Our Other <span class="span-text">Services</span></h4>
      </div>
      <div class="row mt-5">
        <div class="col-md-3">
          <div class="card card-service">
            <div class="img-service">
              <img src="../img/icon/software-development.svg" class="img-fluid" alt="">
            </div>
            <div class="card-body">
              <h6>Software Development</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-service">
            <div class="img-service">
              <img src="../img/icon/ux-design'.svg" class="img-fluid" alt="">
            </div>
            <div class="card-body">
              <h6>UI/UX Design</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-service">
            <div class="img-service">
              <img src="../img/icon/video-creator.svg" class="img-fluid" alt="">
            </div>
            <div class="card-body">
              <h6>Vidio Editing</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-service">
            <div class="img-service">
              <img src="../img/icon/digital-marketing.svg" class="img-fluid" alt="">
            </div>
            <div class="card-body">
              <h6>Digital Marketing</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="footer">
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-md-2 mt-5">
            <img src="../img/logo/Home Dev.png" class="logo-inFooter" alt="" />
          </div>
          <div class="col-md-2 text-footer mt-5">
            <h5 class="title-footer">Service</h5>

            <p class="kata-footer">Lorem, ipsum.</p>
            <p class="kata-footer">Lorem, ipsum.</p>
            <p class="kata-footer">Lorem, ipsum.</p>
            <p class="kata-footer">Lorem, ipsum.</p>
          </div>
          <div class="col-md-2 text-footer mt-5">
            <h5 class="title-footer">Service</h5>

            <p class="kata-footer">Lorem, ipsum.</p>
            <p class="kata-footer">Lorem, ipsum.</p>
            <p class="kata-footer">Lorem, ipsum.</p>
            <p class="kata-footer">Lorem, ipsum.</p>
          </div>
          <div class="col-md-2 text-footer mt-5">
            <h5 class="title-footer">Service</h5>

            <p class="kata-footer">Lorem, ipsum.</p>
            <p class="kata-footer">Lorem, ipsum.</p>
            <p class="kata-footer">Lorem, ipsum.</p>
            <p class="kata-footer">Lorem, ipsum.</p>
          </div>
          <div class="col-md-4 text-footer mt-5">
            <h5 class="title-footer">Subscribe to Newsletter</h5>

            <div class="input-group mt-4">
              <input
                type="text"
                class="form-control"
                placeholder="Masukan Email Anda"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button
                class="button btn-outline-secondary"
                type="button"
                id="button-addon2"
              >
                Subscribe
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
